#editingPreview li {
  margin-left: 25px;
  list-style-type: disc;
}

#editingPreview li,
#editingPreview div,
#editingPreview p {
  margin-bottom: 1rem;
}

/* Tweet Feed  */
.r-14lw9ot {
  background-color: transparent;
}
