@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2.5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.bounce-animation {
  animation: bounce 2s infinite;
}
